body{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
    font-size: 20px;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 69px;
    background-color: #EF5533;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
header span{
    color: white;
    font-size: 37px;
    font-weight: 700px;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:69px;
}
section{
    width: 340px;
    margin-top:34px
    
}
article{
    margin-top:69px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: black;
    font-weight: 700;
}

/* FORMATO CAPA QUIZ */

.quiz img{
    height: 181px;
    width: 100%;
    border-radius: 5px;
}
.quiz{
    position: relative;
    width: 340px;
    margin-top: 10px;
}
.quiz div{
    width: 300px;
    position: absolute;
    bottom:10px;left:20px;
}
.quiz p{
    width: 300px;
    color: white;
}


/* MEUS QUIZES */

.meusQuizesBotaoCriar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.meusQuizesBotaoCriar ion-icon{
    font-size: 20px;
    background-color: #EF5533;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #FAFAFA;
}
.nenhumQuizCriado{
    border: 1px dashed #D5D5D5;
    height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.nenhumQuizCriado span{
    color: #B9B9B9;
    padding-left: 40px;
    padding-right: 40px;
}
.nenhumQuizCriado button{
    background-color: #FAFAFA;
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
}

/* QUIZ ESPECIFICO */
.divPergunta{
    width: 375px;
    background-color: white;
    display: flex;flex-direction: column;
    align-items: center;
    margin-bottom:24px;
    position: relative;
}
.impedidorDeClique{
    width: 100%;height: 100%;
    position: absolute;
    z-index: 1;
}
.imagemTitulo{
    width: 375px;
    position: relative;
    margin-bottom:24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.escurecedor{
    width: 375px;
    height: 181px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 1;
}
.imagemTitulo img{
    height: 181px;
    width: 100%;
}
.imagemTitulo p{
    position: absolute;
    color: white;
    z-index: 2;
}
.tituloPergunta{
    width: 340px;height: 90px;
    background-color: #EC362D;
    display: flex;justify-content: center;align-items: center;
    margin-top:20px;
}
.tituloPergunta span{
    font-weight: 700;
    color: white;
}
.respostas{
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.resposta{
    width: 164px;
}
.resposta img{
    height: 113px;
    width: 100%;
    margin-top:15px
}
.resposta p{
    font-weight: 700;
    margin-top:5px;
    margin-bottom:20px;
}
.resultadoQuiz img{
    width: 340px;
    height: 255px;
    margin-top:10px;
    margin-bottom:10px
}
.resultadoQuiz p{
    width: 340px;
    font-weight: 700;
    color: #484848;
    margin-bottom:10px
}
.quizEspecifico button{
    width: 220px; 
    height: 44px;
    border-radius: 15px;
    border:0;
    font-size: 20px
}
.reiniciarQuiz{
    background-color: #EC362D;
    color:white;
    margin:15px
}
.voltarHome{
    background-color: #FAFAFA;
    color:#818181;
    margin-bottom:66px
}

/* Criacao do quiz */

.criacaoQuiz, .criacaoPerguntas, .criacaoNiveis{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.criacaoQuiz h1, .criacaoPerguntas > h1:first-of-type, .criacaoNiveis > h1:first-of-type {
    display:inline;
    width:100%;
    text-align:center;
 }
 .criacaoQuiz button,.criacaoPerguntas button, .criacaoNiveis button {
     box-sizing: content-box;
     height: 54px;
     width: 324px;
     margin-top: 29px;
     margin-bottom: 29px;
     border-radius: 15px;
     background-color: #EC362D;
     border: 1px dashed #ec362d;
 
     font-size: 21px;
     font-weight: 400;
     line-height: 25px;
     text-align: center;
     color: white;
 }
.informacoesQuiz, .pergunta, .nivel {
    max-width: 600px;
    margin-top: 29px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 18px;
}
.informacoesQuiz input, .perguntas input, .niveis input {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    color: #8d8c8c;
    height: 46px;
    margin-top: 9px ;
}
.informacoesQuiz input::placeholder, .perguntas input::placeholder, .niveis input::placeholder {
    font-style: italic;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #bababa;
}
.perguntas h1 {
    margin:25px 0px 25px;
}
.descricaoNivel {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    color: #8d8c8c;
    height: 340px;
    margin-top: 9px ;
}



/* AUXILIARES */

.some{display:none}

.opacidade{opacity: 0.3;}

.vermelho{color: #FF0B0B;}

.verde{color: #009C22;}